body {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}

#botones {
    width: 50%;
    height: 50%;
    float: left;
    margin: 10px;
}

#cuadrado {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    background-color: white;
}

#cuadrado iframe {
    border: none;
}
